.item{
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  transition: all .3s;
  &_left{
    flex: 1;
  }
  &_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  &:hover{
    transform: scale(1.02);
  }
}