.page{
    overflow: auto;
    height: calc(100vh - 56px - 150px);
    &_title{
        cursor: pointer;
        font-size: 20px;
        font-weight: 700;
        margin-top: 15px;
        &_icon{
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 5px;
            border: 2px solid black;
            border-left: transparent;
            border-bottom: transparent;
            transform: rotate(45deg);
        }
    }
}