.page{
    max-width: 720px;
    margin: 20px auto;
    &_title{
        font-size: 24px;
        text-align: center;
    }
    &_body{
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        column-gap: 20px;
        &_left{
            flex: 13;
        }
        &_right{
            flex: 20;
            height: 400px;
        }
    }
}

@media screen and (max-width: 900px) {
   .page_body{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        &_left{
            width: 200px;
        }
        &_right{
            height: calc(100vh - 200px - 256px - 68px);
            max-height: calc(100vh - 200px - 256px - 68px);
        }
    }
}